:root {
  --mainBadgeColor: #646cff;
  --darkBadgeColor: #535bf2;
  --activeColor: #ed4959;
  --inactiveColor: #ffb2b2;
  --darkColor: #171717;
  --warningColor: #db2828;
  --white: #fff;
  --offwhite: #fbfbfb;
  --black: #000;

  --adaptiveGrey50: #f9fafb;
  --adaptiveGrey100: #f2f4f6;
  --adaptiveGrey200: #e5e8eb;
  --adaptiveGrey300: #d1d6db;
  --adaptiveGrey400: #b0b8c1;
  --adaptiveGrey500: #8b95a1;
  --adaptiveGrey600: #6b7684;
  --adaptiveGrey700: #4e5968;
  --adaptiveGrey800: #333d4b;
  --adaptiveGrey900: #191f28;
  --adaptiveOpacity50: rgba(0, 23, 51, 0.02);
  --adaptiveOpacity100: rgba(2, 32, 71, 0.05);
  --adaptiveOpacity200: rgba(0, 27, 55, 0.1);
  --adaptiveOpacity300: rgba(0, 29, 58, 0.18);
  --adaptiveOpacity400: rgba(0, 29, 54, 0.31);
  --adaptiveOpacity500: rgba(3, 24, 50, 0.46);
  --adaptiveOpacity600: rgba(0, 19, 43, 0.58);
  --adaptiveOpacity700: rgba(3, 18, 40, 0.7);
  --adaptiveOpacity800: rgba(0, 12, 30, 0.8);
  --adaptiveOpacity900: rgba(2, 9, 19, 0.91);

  font-family: "IBM Plex Sans KR", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-width: 100%;
  min-height: 100%;
  backdrop-filter: blur(40px);
}
* {
  outline: 0;
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
